/* MENU SECTION ANIMATION */
html {
    scroll-behavior: smooth; /*Makes jump links smoother instead of instantly jumping*/
}

.menu {
    color:rgb(165, 215, 232);
    font: bold 12px/18px 'Courier New', monospace;
    text-align: center;
    display:inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    letter-spacing: 2px;
}

.menu li {
    color:rgb(165, 215, 232);
    background-color: rgb(87, 108, 188);
    display:inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 8%;
    border: 1px solid rgb(241, 231, 171);
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.8);
    border-radius:8px;
    /* background-color: #052136; */
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: black;
    background-color: rgb(241, 231, 171);
}

/* GALLERY SECTION ANIMATION */

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid rgb(241, 231, 171);
    background-color:rgb(73, 98, 134);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.8);

}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /*For centering text inside .photo-overlay*/
    align-items: center;
    background-color: rgba(250, 171, 125, 0.438);
}

.white-head {
    color: rgb(255, 255, 255);
    margin-top: 5%;
}

/* PHOTO OVERLAY TRANSITION */

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}